<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="exercise.name" class="form-control" id="name" placeholder="Exercise name Here"/>
  </div>
</div>
<div class="muscles-group">
  <label for="muscles" class="col-sm-2 control-label">Muscles involved</label>
  <div class="col-sm-10">
    <input type="text" ng-model="exercise.muscles" ng-list="&#10;" ng-trim="false" 
	   class="form-control" id="muscles" placeholder="Which muscles are involved separated by ','?" />
  </div>
</div>
<div class="light-group">
  <label for="director" class="col-sm-2 control-label">Light rep</label>
  <div class="col-sm-10">
    <input type="text" ng-model="exercise.light" class="form-control" id="light" placeholder="What is a light rep scheme for this exercise?"/>
  </div>
</div>
<div class="medium-group">
  <label for="director" class="col-sm-2 control-label">Medium rep</label>
  <div class="col-sm-10">
    <input type="text" ng-model="exercise.medium" class="form-control" id="medium" placeholder="What is a medium rep scheme for this exercise?"/>
  </div>
</div>
<div class="hard-group">
  <label for="director" class="col-sm-2 control-label">Hard rep</label>
  <div class="col-sm-10">
    <input type="text" ng-model="exercise.hard" class="form-control" id="hard" placeholder="What is a hard rep scheme for this exercise?"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
